h1{
    text-shadow: 3px 3px 1px red;
    text-shadow: 3px 3px 10px red, 3px 9px 10px green;
}

.box{
    background-color: aqua;
    width:200px;
    height:300px;
    position: relative;
    top:100px;
    left:50px;
    box-shadow: 10px -10px 25px green, 15px 15px 15px brown; */
    color:red;
}